body
{
   margin: 0;
   font-family: 'Gentium Book Basic', serif;
   font-size: 22px;  
   text-align: left;
   vertical-align: top;
   background: #FFFFFF;
}

h1
{
	font-size: 46px;
	letter-spacing: -2px;
	padding: 0 0 0 0;
}


a:link, a:visited
{
	text-decoration: underline;
	color: #000000;
}

a:hover
{
	text-decoration: underline;
}

p
{
	padding: 10px 0 0 0;
}

#container
{
	margin: 10px auto 0 auto;
    width: 1000px;  
	background: #FFFFFF;
}

#main
{
   font-family: 'Gentium Book Basic', serif;
   font-size: 20px;
   letter-spacing: -1px;
   text-align: left;
   width: 900px;
}

#chatter
{
   font-size: 18px;
   margin: -20px 0 10px 0;
}
#main table
{
   width: 100%;
}

#main th
{
   text-decoration: underline;
}

#tag
{
   font-size: 14px;
   padding: 8px 0 0 0;
}

