{% extends "quotes_base.html" %}

{% block title %}| About{% endblock %}
{% block description %}Words on Art collects the words of musicians, writers, journalists, poets, painters and other artistic types to inspire creativity and remind us of beauty.{% endblock %}

{% block content %}
    <div id="list">
    <h2>About</h2>
    Words on Art is site by <a href="http://www.anthonydebarros.com" target="_blank">Anthony DeBarros</a> that collects the words of musicians, writers, journalists, poets, painters and other artistic types to inspire creativity and remind us of beauty.<br/>
    <br/>
    The site runs on the <a href="http://www.djangoproject.com" target="_blank">Django web framework</a>. Words are displayed using <a href="http://www.google.com/webfonts#QuickUsePlace:quickUse/Family:Lusitana" target="_blank">Lusitana</a> from the Google Web Fonts API.<br/>
    </div>
{% endblock %}
