{% extends "quotes_base.html" %}

{% block title %}| About{% endblock %}
{% block description %}Words on Art collects the words of musicians, writers, journalists, poets, painters and other artistic types to inspire creativity and remind us of beauty.{% endblock %}

{% block content %}
    <div id="about">
    <h2>About</h2>
    Hi, I'm <a href="http://www.anthonydebarros.com" target="_blank">Anthony DeBarros</a> and I made this site to a) teach myself the <a href="http://www.djangoproject.com" target="_blank">Django web framework</a> and b) to celebrate the words of musicians, writers, journalists, poets, painters and other artistic types that inspire creativity and remind us of beauty.<br/>
    <br/>
    This -- apart from tutorials and book exercises -- was my first Django site. Learning happens best when you ride the bike with no training wheels (I'd quote myself on the site, but that would be ... unseemly). Special thanks to <a href="http://www.stackoverflow.com" target="_blank">Stack Overflow</a>.<br/>
    <br/>
    <b>Colophon:</b><br/>
    + Font is <a href="http://www.google.com/webfonts#QuickUsePlace:quickUse/Family:Lusitana" target="_blank">Lusitana</a> from the Google Web Fonts API.<br/>
    + Hosting by <a href="http://www.webfaction.com/signup?affiliate=adebarros" target="_blank">WebFaction</a>.<br/>
    </br>
    <b>Contact + Info:</b><br/>
    + Questions or suggestions? Please contact me via my <a href="http://www.anthonydebarros.com/contact/" target="_blank">blog site</a>.<br/>
    + Other things I am building can be found on my <a href="http://www.anthonydb.com">Sandbox</a>.<br/>
    + Source code on <a href="https://github.com/anthonydb/sandbox-project/tree/master/quotes" target="_blank">Github</a>.<br/>
    </div>
{% endblock %}
