{% extends "quotes_base.html" %}

{% block title %}| {{ author_quote_list.0.author }}{% endblock %}
{% block description %}A collection of quotes by {{ author_quote_list.0.author }}.{% endblock %}

{% block content %}
    <div id="list">
    <div id="sectiondescriptor">
    <b>{{ author_quote_list.0.author }}:</b> {{ author_quote_list.0.author.brief_bio }}
    </div>
    <ul>
        {% for quote in author_quote_list %}
            <li>{{ quote.quote }} <span id="tagelements"><a href="{{ quote.get_absolute_url }}">&#182</a> |
            {% for category in quote.categories.all %} <a href="{{ category.get_absolute_url }}">{{ category.category }}</a>
                {% if forloop.last %}{% else %}
                {% ifequal forloop.revcounter0 1 %}&amp; {% else %}, {% endifequal %}
                {% endif %}
                {% endfor %}
            </li>
            </span>
       {% endfor %}
     </ul>
</div>
{% endblock %}
