{% extends "quotes_base.html" %}

{% block title %}| Home{% endblock %}
{% block description %}Words on Art: A collection of quotes about writing, music, art, poetry, journalism and the arts.{% endblock %}

{% block content %}
    <div id="quote">    
        {% if random_quote %}
         <div id="markl">&#8216;</div><br />
         {{ random_quote.quote }}<br />
            <div id="attribute">
                <a href="{{ random_quote.author.get_absolute_url }}">{{ random_quote.author }}</a>
            </div>
            <div id="tag">
            {% for category in random_quote.categories.all %} <a href="{{ category.get_absolute_url }}">{{ category.category }}</a>
                {% if forloop.last %}{% else %}
                {% ifequal forloop.revcounter0 1 %}&amp; {% else %}, {% endifequal %}
                {% endif %}
                {% endfor %} | <a class="inline" href="#inline_content">&dagger;</a> | <a href="{{ random_quote.get_absolute_url }}">&#182</a>
            <br />
            </div>
         <div id="markr">&#8217;</div>
         <div id="social">
             <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        {% else %}
            <p>Writing is a ton of fun.</p>
        {% endif %}
        <div style='display:none'>
			<div id='inline_content' style='padding:10px; background:#fff;'>
			<p><strong>Source for this quote:</strong></p>
			<p>{{ random_quote.source }}</p>
			</div>
		</div>
     </div>
{% endblock %}
