<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}quotes.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}colorbox.css" />
    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
         // Hide the view div
         $('div.view').hide();
         // toggle
         $('div.slide').toggle(function() {
            $(this).siblings('div.view').fadeIn('slow');
            }, function() {
            $(this).siblings('div.view').fadeOut('fast');
            return false;
            });
         $(".inline").colorbox({inline:true, width:"500px"});
      });
      </script>
      <script type="text/javascript">
         function showBtn() {
         document.getElementById("reloadr").style.visibility = "visible";
         }
         setTimeout("showBtn()", 4000); // 1000 = 1 sec
         </script>
    <title>Words on Art {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
</head>
<body>
      <div class="slide" style="cursor: pointer;">+</div>
      <div class="view">
         <h2>Words on Art</h2>
         <div class="viewlist">
           <a href="{% url 'authors' %}">Authors</a><br/>
           <a href="{% url 'categories' %}">Categories</a><br/>
           <a href="{% url 'search' %}">Search</a><br/>
           <a href="{% url 'suggest' %}">Suggest</a></br>
           <a href="{% url 'about' %}">About</a><br/>
         </div>
      </div>
     
      <div id="container">
       <div id="header">
       </div>
            {% block content %}
            {% endblock %}
        <div id="footer">
        </div>
        </div>
    </div>
</body>
</html>
