<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'quotes.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
         // Hide the view div
         $('div.view').hide();
         // toggle
         $('div.slide').click(function() {
           $('div.view').fadeToggle('fast', function() {
            // Done
           });
         });
      });
      </script>
      <!-- Replace the Google account with your own code -->
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30019446-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <title>Words on Art {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
</head>
<body>
      <div class="slide" style="cursor: pointer;">+</div>
      <div class="view">
         <h2>Words on Art</h2>
         <div class="viewlist">
           <a href="{% url 'authors' %}">Authors</a><br/>
           <a href="{% url 'categories' %}">Categories</a><br/>
           <a href="{% url 'search' %}">Search</a><br/>
           <a href="{% url 'suggest' %}">Suggest</a></br>
           <a href="{% url 'about' %}">About</a><br/>
         </div>
      </div>

      <div id="container">
       <div id="header">
       </div>
            {% block content %}
            {% endblock %}
        <div id="footer">
        </div>
        </div>
    </div>
</body>
</html>
