{% extends "quotes_base.html" %}

{% block title %}| Search{% endblock %}
{% block description %}Search Words on Art to find quotes related to music, writing, journalism and more.{% endblock %}

{% block content %}
    <h2>Search Words on Art</h2>
    <form method="post" action="">{% csrf_token %}
        Search for:<br/>
        {{ form.quote }}<br/>
        <p><input class="button" type="submit" value="Search"></p>
    </form>
    <br/>
    {% if results_list %}
    <h3>Search results:</h3>
    <ul>
        {% for result in results_list %}
            {% if result != "None" %} 
            <li>{{ result }} <span id="tagelements"><a href="{{ result.get_absolute_url }}">&#182;</a> | 
            {% for category in result.categories.all %} <a href="{{ category.get_absolute_url }}">{{ category.category }}</a>
                {% if forloop.last %}{% else %}
                {% ifequal forloop.revcounter0 1 %}&amp; {% else %}, {% endifequal %}
                {% endif %}
                {% endfor %} 
            </span>
            <br />
            <a href="{{ result.author.get_absolute_url }}">{{ result.author }}</a>
           </li>
           {% else %}
           <li>No results matched your query.</li>
           {% endif %}
        {% endfor %}
     </ul>
     {% endif %}
{% endblock %}
