<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}quotes.css" />
    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
         // Hide the view div
         $('div.view').hide();
         // toggle
         $('div.slide').toggle(function() {
            $(this).siblings('div.view').fadeIn('slow');
            }, function() {
            $(this).siblings('div.view').fadeOut('fast');
            return false;
            });
      });
      </script>
     <title>Words on Art | Suggest</title>
</head>
<body>
     <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
      <div class="slide" style="cursor: pointer;">+</div>
      <div class="view">
         <h2>Words on Art</h2>
         <div class="viewlist">
           <a href="{% url authors %}">Authors</a><br/>
           <a href="{% url categories %}">Categories</a><br/>
           <a href="{% url search %}">Search</a><br/>
           <a href="{% url suggest %}">Suggest</a></br>
           <a href="{% url about %}">About</a><br/>
         </div>
      </div> 

      <div id="container">
       <div id="header">
       </div>
    
       <h2>Suggest Some Words ...</h2>
       Tell us a great quote about music, writing or the arts. If we like it, we'll add it here.<br/> 
           <br/>
           <form method="post" action="" name="suggestForm">{% csrf_token %}
           The quote and its author:<br/>
           {{ form.item }}<br/><br/>
           Where did you see it? Include URL if possible:<br/>
           {{ form.source }}<br/><br/>
           Your name (will not be published):<br/>
           {{ form.name }}<br/><br/>
           Your email so we can follow up:<br/>
           {{ form.email }}<br/><br/>
           To reduce my spam burden: What color is the clear daytime sky?<br/>
           <input type="text" name="validateBox">
           <div id="message">
           </div>
           <input class="button" type="submit" onclick="return validtest();" value="Suggest">
           </form>
        <div id="footer">
        </div>
    </div>
</body>
</html>    
    
    
    
    

