<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'api.css'%}" />
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <title>Booklist API test</title>
    <meta name="description" content="Book List API">

    <!-- Replace the Google code with your own account -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30019446-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
      <div id="container">
      <div id="main">

      <h2>USA TODAY Best-Selling Books list</h2>
      <div id="chatter">
      The top 20 books for {{ date_dict.month }}/{{ date_dict.day }}/{{ date_dict.year }}, fetched from the <a href="http://usatoday30.usatoday.com/api/books/" target="_blank">Best-Selling Books API</a>. This page automatically updates with a newer list each Thursday. The Django views.py that calls and parses the API is available on <a href="https://github.com/anthonydb/sandbox-project/blob/master/apis/views.py" target="_blank">Github</a>.
      </div>

      <div id="list">
        <ul>
        {% for entry in top_list %}
            <li>{{ entry.rank}}. <b>{{ entry.title }}</b>, {{ entry.author }} {{entry.class}}</li>
        {% endfor %}
        </ul>
      </div>

      <div id="tag">
         For information on USA TODAY APIs, visit the <a href="http://developer.usatoday.com" target="_blank">Developer's Network</a>.<br/>
      </div>

      </div>
      </div>
</body>
</html>
