body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: left;
    vertical-align: top;
    background: #FFFFFF;
}

h1
{
    font-size: 44px;
    letter-spacing: -2px;
    padding: 0 0 0 0;
}

a {
    color: #007998;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    color: rgba(0, 121, 152, 0.5);
}

p
{
    padding: 10px 0 0 0;
}

#container
{
    margin: 10px 20px 0 auto;
    padding: 0 12px 0 12px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

#main
{
   font-family: 'Lato', sans-serif;
   font-size: 18px;
   letter-spacing: 0px;
   text-align: left;
   width: 90%;
}

#list {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: left;
    width: 90%;
}

#list ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

#list ul li {
    padding: 4px 0 4px 0;
    line-height: 20px;
}

#chatter
{
   font-size: 18px;
   margin: -20px 0 10px 0;
}

#tag
{
   font-size: 14px;
   padding: 8px 0 0 0;
}

