{% extends "base.html" %}

{% block title %}| Home{% endblock %}


{% block content %}
    <div id="main">
    <h1>anthonydb.com</h1>
    A sandbox for <a href="http://www.anthonydebarros.com" target="_blank">Anthony DeBarros</a>.</br>
    <br/>
    This is where I'm teaching myself web development using the <a href="http://www.djangoproject.com" target="_blank">Django web framework</a>. You can find the code at <a href="https://github.com/AnthonyDB/sandbox" target="_blank">Github</a>. I highly recommend my host, <a href="http://www.webfaction.com/signup?affiliate=adebarros" >WebFaction</a>.<br/>
    <h3>Current projects:</h3>
        <b><a href="/words/">Words on Art</a></b><br/>
        A collection of quotes related to music, writing and the arts. It's a demo site built to explore the Django basics of models, views and templates. Includes search, a submission form, design interactivity implemented with JavaScript and jQuery, and a random quote on every load of the home page.</br>
        <br/>
        <b><a href="/apis/books/">USA TODAY Best-Selling Books API</a></b><br/>
        This page loads the top 20 titles from the USA TODAY Best-Selling Books public API. Built to understand how to ingest and display an API in a Django template. Loads a newer list each Thursday.</br>
    </div>
    
{% endblock %}
