{% extends "base.html" %}

{% block title %}| Home{% endblock %}


{% block content %}
    <div id="main">
        <h1><a href="http://anthonydb.com">anthonydb.com</a></h1>
    <div id="contents">
        <h2>Hello</h2>
        This is just a little Django experiment.<br/>
        My <a href="http://www.anthonydebarros.com" target="_blank">main site</a> is where I write occasionally about data, journalism and product development.</br>
        <br/>
        <h2>App Sandbox</h2>
        Here are a few little apps I've experimented with:
        <ul>
            <li>I'm collecting <a href="/words/">Words on Art</a>. Have a favorite quote about music, writing, art? <a href="/words/suggest/">Let me know.</a></li>
            <li>An API-fetch experiment with a current New York Times <a href="/apis/books/">Book List</a> via its API. A demo.</li>
        </ul>
    </div>
    <div id="footer">
        <h2>Colophon</h2>
        Powered by <a href="http://www.djangoproject.com" target="_blank">Django</a> using Python 3.<br/>
        Code at <a href="https://github.com/anthonydb/sandbox-project" target="_blank">Github</a>.<br/>
        Fonts by <a href="http://www.google.com/webfonts" target="_blank">Google Web Fonts</a>.<br/>
        Hosting by <a href="http://www.webfaction.com/signup?affiliate=adebarros" >WebFaction</a>.<br/>
    </div>
    <div id="copyright">
        Copyright 2017 Anthony DeBarros
    </div>
    </div>

{% endblock %}
